@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');


body{
  font-family: 'Quicksand','Poppins', sans-serif;
  background-color: #FDF6F0;
}

html{
  scroll-behavior: smooth;
}

@media(prefers-reduced-motion: reduce){
  html{
    scroll-behavior: auto;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-weight: 700;
}

p, span, li, a {
  color: black;
}